@{
	Layout = "_PanelLayout";
}

<div id="content" class="col-sm-9  all-blog">
	<div class="breadcrumb-main">
		<div class="breadcrumb-container clearfix">
			<h1 class="page-title">Index</h1>
			<ul class="breadcrumb">
				<li><a asp-action="Index" asp-controller="Home">Home</a></li>
				<li><a asp-action="Index" asp-controller="Panel">Index</a></li>
			</ul>
		</div>
	</div>
	<div class="information-information">
		<h2 class="title">The standard Lorem Ipsum passage</h2>
		<p class="description">
			An natum nulla eruditi mei, te qui idque adipisci, nonumy graeci has ad. Cu diam dolor
			noluisse nec. Nam ex dicta graeco, audire nominati persequeris eu eos. Pri nibh dolor soleat
			cu, sanctus inermis instructior eum ei. Scripta ceteros sit ex. Et eum alia laudem delectus.
		</p>
	</div>
</div>