@using HMS.ViewModels;
@model RegisterViewModel
@{
	ViewData["Title"] = "Reset Password Confirmation Page";
}

@Html.Partial("_StylesPartial", Model)




<div class="themability-testimonial-block top-margin-all wow fadeInUp">
	<div class="themability-testimonial container box-module box-content">
		<div class="customers-text">
			<h3>Reset Password Confirmation</h3>
		</div>
		<div class="block_box">
			<div class="row">
				<div class="category-box">
					<div class="owl-carousel owl-theme owl-loaded owl-drag">
						<div class="customers-said owl-carousel">
							<div class="row-items category-layout col-xs-12">
								<div class="tetimonial-image-content">
									<div class="themability-testimonial-content">
										<div class="themability-testimonial-author">Success!</div>
									</div>
								</div>
								<div class="themability-testimonial-text">
									<p>
										The password has been reset.
									</p>
								</div>
								<div class="themability-testimonial-text">
									<a asp-action="Login" asp-controller="Account" class="btn btn-primary mt-3">Back to Log In</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	@await Html.PartialAsync("_ValidationScriptsPartial")
	@await Html.PartialAsync("_ScriptsPartial")
}